* {
  transition: all 0.3s ease-out;
}
body {
  background-color: #000;
  color: #fff
}
a:hover {
  color: #deb522;
}
.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.pb-50 {
  padding-bottom: 5rem;
}
.movie-row-6 ul li {
  min-height: 34rem;
  /* flex-basis: 16.66%; */
}
.movie-row-6 ul li img {
  width: 100%;
  height: 268px;
  object-fit: cover;
  border: 0.2rem solid #2c2c54;
}
.movie-row-6 ul li h6 {
  font-size: 1.8rem;
}